name: Java CI with Gradle

on:
  push:
    branches: [ "main", "CICD-2", "CICD" ]
    paths:
      - "Final-project/apps/java-backend/**"
      - ".github/workflows/gradle.yml"
  pull_request:
    branches: [ "main" ]
    paths:
      - "Final-project/apps/java-backend/**"
      - ".github/workflows/gradle.yml"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    defaults:
      run:
        working-directory: Final-project/apps/java-backend

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0

      - name: Build with Gradle Wrapper
        run: ./gradlew build
        # or ./gradlew test if you want faster CI

  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    defaults:
      run:
        working-directory: Final-project/apps/java-backend

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0
